.linkcontainer {
    height: 50px;
    width: 400px;
    margin: auto;
    position: relative;
    border: 3px solid black;
}

.infocontainer {
    height: 100px;
    width: 400px;
    margin: auto;
    position: relative;
    border: 3px solid black;
}

.detailcontainer {
    height: 400px;
    width: 400px;
    margin: auto;
    position: relative;
    border: 3px solid black;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.itext {
    text-align:center;
    padding: 30px 0;
}

.dtext {
    text-align:center;
    padding: 20px 0;
}